
.toDoListRow{
    width: 50%!important;
    margin-left: 10%;
    height: 1.8cm;
    border: 0.5em!important;
    border-color: black;
    background-color: red;
    border-width: 2px!important;
}
